{% extends "base.html" %}

{% block title %}Menú inicio{% endblock %}

{% block content %}
<section class="grid gap-6 md:grid-cols-3">
  <div class="rounded-2xl bg-white p-7 shadow-sm">
    <h1 class="text-3xl font-bold">Menu encuestas</h1>
    <p class="mt-2 text-slate-600">
      Bienvenido. Elige la opción:
    </p>
    <div class="mt-7 flex flex-wrap gap-4">
      <a href="{% url 'polls:encuesta' %}?contestar_encuesta=true"
         class="inline-flex items-center rounded-lg bg-blue-600 px-4 py-2 font-medium text-white hover:bg-blue-700">
        Responder Encuesta
      </a>
        <a href="{% url 'polls:encuesta' %}?contestar_encuesta=false"
         class="inline-flex items-center rounded-lg bg-blue-600 px-4 py-2 font-medium text-white hover:bg-blue-700">
        Consultar Resultados
      </a>
         <a href="{% url 'polls:abcEncuesta' %}"
         class="inline-flex items-center rounded-lg bg-blue-600 px-4 py-2 font-medium text-white hover:bg-blue-700">
        Administrar Encuesta
      </a>

    </div>
  </div>


</section>
{% endblock %}